.regisiterpage{
  position: relative;
  font-size: 14px;
  padding:0;
  margin:0;
  width: 90%;
}
.heads{
  text-align: left;
  font: 15px/40px Arial, sans-serif;
  background:#E8F5FB;
  position: relative;
  text-decoration: none;
  width:100%;
  height: 40px;
  padding:  0 20px ;
  margin-bottom: 10px;
}
.items{
  width: 97.5%;
  margin-bottom: 20px;
  left:30px;
  display: inline-table;
}
.itemsform{
  display:inline-table;
  column-count:3;
  column-width:200px;
  position: relative;
  left:25px;
  padding-left:10px;
}

.item{
 display: inline-table;
  column-count:2;
margin-right: 30px;
}

.nameid{
display: table-cell;
  vertical-align:middle;
  min-width: 80px;
}


.inputbox{
  display: table-cell;
  box-sizing: border-box;
  border: 1px solid #ddd;
 width: 140px;
  font-size: 14px;
  text-align: left;
  height: 30px;
  padding: 2px 4px ;
  margin-left: 2px;
  margin-bottom: 10px;
  position: relative;

}
.inputbox:focus{
  border-color:#999999;
}
.yellow{
   width: 97.5%;
   position: relative;
   left:25px;
   padding-top:10px;
   padding-left:10px;
   background: lightgoldenrodyellow;
   margin-bottom: 20px;

 }
.grey-block{
  width: 97.5%;
  position: relative;
  left:25px;
  padding-top:10px;
  padding-left:10px;
  background: #F2F2F2;

  border-radius: 10px;

}
.yellow-block{
  width: 97.5%;
  position: relative;
  left:25px;
  padding-top:10px;
  padding-left:10px;
  background: lightgoldenrodyellow;

  border-radius: 10px;

}
.smallinput{
  border: 1px solid #ddd;
  width:50px;
  text-align: left;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 2px 4px ;
}
.longinput{
  display: table-cell;
  box-sizing: border-box;
  border: 1px solid #ddd;
  min-width: 100px;
  font-size: 14px;
  text-align: left;
  height: 30px;
  padding: 2px 4px ;
  margin-left: 2px;
  margin-bottom: 10px;
  position: relative;
  margin-right: 10px;
}
.smallinput:focus{
  border-color:#999999;
}
.smallname{
  display: table-cell;
  width:40px;
  height:30px;
  margin-right: 10px;
}
.longname{
  position: relative;
  display: table-cell;
  margin-right: 5px;
  min-width: 100px;
}

.twocolor{
  width: 100%;
  position: relative;
  display: inline-block;
  left:25px;
  color:#666666;

}
.grey{
  background: #F2F2F2;
  padding-top:10px;
  padding-left:10px;
  border:1px solid #ddd;
  left:25px;

}
.addbottom{
  color:#029AFF;
  text-decoration: none;
  position: relative;
  right:40px;
  top:5px;
  float: right;
}
.close{
  color:black;
  position:absolute;
  right: 5px;
  top: 0px;
  text-decoration: none;
  font-size: 15px;
}
.items2{
  position: relative;
  padding-top:10px;
  padding-left:20px;
  border: 1px #E4E4E4;
  border-style:none solid solid double;

}
.rightaddbottom{
  font-size: 12px;
  color:#029AFF;
  text-decoration: none;
  position: relative;
  left:10px;
}

.items3{
  position: relative;
  left:25px;
  width: 90%;
}
.bottom{
  height: 50px;
}
.ok{
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  text-align: center;
  text-decoration: none;

  float:right;
  position: relative;
  padding: 2px 10px;
  border-radius: 4px;
}
.ok:hover {
  text-decoration: none;
  color:black;
}
